:root {
  --dark: darkslategrey;
  --light: antiquewhite;
  --accentdark: orange;
  --accentlight: rgb(245, 199, 113);
  --accent2: rgb(29, 127, 193);
}
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--accent2);
}

nav {
  background-color: var(--accentdark);
}

header {
  background-color: var(--light);
}

main {
  background-color: salmon;
}

footer {
  background-color: lightgoldenrodyellow;
}

aside {
  background-color: palegreen;

}


/* ============ GRID ================ */

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav,
header,
footer, main, aside {
  grid-column: 1/13;

  text-align: center;
}



/* images */

img {
  width: 80%;
}

/* GRID-CEPTION */
section {
  /* general styles */
  background-color: lightcyan;
}

.col1 {
  /* 2 column layout - column 1*/

  /* grid */
  grid-column: 1/6;
}

.col2 {
  /* 2 column layout - column 2*/

  /* grid */
  grid-column: 6/13;
}

/*======FORM GRID ====*/

.form-main {
    grid-column: 1/10;
}

.form-aside {
   grid-column: 10/13;
}

/*============= MEDIA QUERIES ===========*/


@media screen and (min-width: 400px) and (max-width: 600px) {
    /* style for mobile website */
    
    main, aside, .col1, .col2 {
        grid-column: 1/13;
    }


}

/*============= JAVASCRIPT ===========*/

.dark-mode {
  background-color: black;
  color: white;
}


/* FLEX CONTAINER */

.flex-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container > h2 {
  flex-basis: 100%;
}

.card {
  background-color: var(--accentdark);
  flex-basis: 30%;
}